footer{
    bottom: auto;
    display: flex;
    background-image: linear-gradient(to left, rgb(255, 190, 116),rgb(255, 241, 114));
    height: 35px;
    border: 1px solid #000;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    justify-content: center;

    copyright {
        font-family: Gost type A, sans-serif;
        font-style: bold;
        font-size: 22px;
    }
}