header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    background-image: linear-gradient(to right, rgb(255, 190, 116),rgb(255, 241, 114));
    border: 1px solid #000;
    border-top: none;
    border-radius: 0px 0px 10px 10px;

    .social{
        border: 2px solid #fff;
        border-radius: 7px;
        height: 50px;
        aspect-ratio: 1/1;
        background-color: #1f1f1f;

        .logos{
            width:auto;
            max-width: 35px;
        }
    }
    .social:hover{
        transition: 0.3s ease-in-out;
        transform: scale(1.05);
    }
    .self-text{
        text-align: center;
        font-family: GOST type A, sans-serif;
        font-weight: bolder;
        font-size: 40px;
        min-width: 75vw;
    }

    .bmc-btn{
        height: 50px;
        min-width: auto;
        padding: 0px 7px;
        border-radius: 7px;
        border: 2px solid #fff;
        font-family: GOST type A, sans-serif !important;
        font-weight: bolder;
        font-size: 20px;
    }
    .bmc-btn:hover{
        transition: 0.3s ease-in-out;
        transform: scale(1.05);
    }
}

@media (max-width: 1024px){
    header{
    .self-text{
        min-width: 60vw;
        font-size: 35px;
    }
    }
}
@media (max-width: 768px) {
    header{
        
    .self-text{
        min-width: 35vw;
        font-size: 30px;
    }
    }
}