@import url("https://fonts.cdnfonts.com/css/gost-type-a");
.project-wrapper {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, 24vw);
}

.project-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 7px;
  width: 23vw;
  margin: 10px;
}
.project-card .name {
  font-family: GOST type A, sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 32px;
  padding: 5px 5px 0px 5px;
  border-bottom: 1px solid #000;
}
.project-card .description {
  font-family: GOST type A, sans-serif;
  font-style: italic;
  font-size: 24px;
  text-align: center;
  padding: 5px;
}
.project-card img {
  border: 1px solid #000;
  border-radius: 10px;
  width: 92.5%;
  aspect-ratio: 16/9;
}
.project-card .play-button {
  box-shadow: none;
  border: 1px solid #000;
  font-family: GOST type A, sans-serif;
  font-weight: bold;
  border-radius: 24px;
  font-size: 21px;
  padding: 10px;
  margin: 10px;
  background-image: linear-gradient(to right, rgb(255, 190, 116), rgb(255, 241, 114));
}
.project-card .play-button:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.05);
  animation: gradient 1.5s linear infinite;
  background-image: linear-gradient(var(--angle), rgb(255, 190, 116), rgb(255, 241, 114));
}
@keyframes gradient {
  0% {
    --angle: 90deg;
  }
  1% {
    --angle: 93.6deg;
  }
  2% {
    --angle: 97.2deg;
  }
  3% {
    --angle: 100.8deg;
  }
  4% {
    --angle: 104.4deg;
  }
  5% {
    --angle: 108deg;
  }
  6% {
    --angle: 111.6deg;
  }
  7% {
    --angle: 115.2deg;
  }
  8% {
    --angle: 118.8deg;
  }
  9% {
    --angle: 122.4deg;
  }
  10% {
    --angle: 126deg;
  }
  11% {
    --angle: 129.6deg;
  }
  12% {
    --angle: 133.2deg;
  }
  13% {
    --angle: 136.8deg;
  }
  14% {
    --angle: 140.4deg;
  }
  15% {
    --angle: 144deg;
  }
  16% {
    --angle: 147.6deg;
  }
  17% {
    --angle: 151.2deg;
  }
  18% {
    --angle: 154.8deg;
  }
  19% {
    --angle: 158.4deg;
  }
  20% {
    --angle: 162deg;
  }
  21% {
    --angle: 165.6deg;
  }
  22% {
    --angle: 169.2deg;
  }
  23% {
    --angle: 172.8deg;
  }
  24% {
    --angle: 176.4deg;
  }
  25% {
    --angle: 180deg;
  }
  26% {
    --angle: 183.6deg;
  }
  27% {
    --angle: 187.2deg;
  }
  28% {
    --angle: 190.8deg;
  }
  29% {
    --angle: 194.4deg;
  }
  30% {
    --angle: 198deg;
  }
  31% {
    --angle: 201.6deg;
  }
  32% {
    --angle: 205.2deg;
  }
  33% {
    --angle: 208.8deg;
  }
  34% {
    --angle: 212.4deg;
  }
  35% {
    --angle: 216deg;
  }
  36% {
    --angle: 219.6deg;
  }
  37% {
    --angle: 223.2deg;
  }
  38% {
    --angle: 226.8deg;
  }
  39% {
    --angle: 230.4deg;
  }
  40% {
    --angle: 234deg;
  }
  41% {
    --angle: 237.6deg;
  }
  42% {
    --angle: 241.2deg;
  }
  43% {
    --angle: 244.8deg;
  }
  44% {
    --angle: 248.4deg;
  }
  45% {
    --angle: 252deg;
  }
  46% {
    --angle: 255.6deg;
  }
  47% {
    --angle: 259.2deg;
  }
  48% {
    --angle: 262.8deg;
  }
  49% {
    --angle: 266.4deg;
  }
  50% {
    --angle: 270deg;
  }
  51% {
    --angle: 273.6deg;
  }
  52% {
    --angle: 277.2deg;
  }
  53% {
    --angle: 280.8deg;
  }
  54% {
    --angle: 284.4deg;
  }
  55% {
    --angle: 288deg;
  }
  56% {
    --angle: 291.6deg;
  }
  57% {
    --angle: 295.2deg;
  }
  58% {
    --angle: 298.8deg;
  }
  59% {
    --angle: 302.4deg;
  }
  60% {
    --angle: 306deg;
  }
  61% {
    --angle: 309.6deg;
  }
  62% {
    --angle: 313.2deg;
  }
  63% {
    --angle: 316.8deg;
  }
  64% {
    --angle: 320.4deg;
  }
  65% {
    --angle: 324deg;
  }
  66% {
    --angle: 327.6deg;
  }
  67% {
    --angle: 331.2deg;
  }
  68% {
    --angle: 334.8deg;
  }
  69% {
    --angle: 338.4deg;
  }
  70% {
    --angle: 342deg;
  }
  71% {
    --angle: 345.6deg;
  }
  72% {
    --angle: 349.2deg;
  }
  73% {
    --angle: 352.8deg;
  }
  74% {
    --angle: 356.4deg;
  }
  75% {
    --angle: 360deg;
  }
  76% {
    --angle: 363.6deg;
  }
  77% {
    --angle: 367.2deg;
  }
  78% {
    --angle: 370.8deg;
  }
  79% {
    --angle: 374.4deg;
  }
  80% {
    --angle: 378deg;
  }
  81% {
    --angle: 381.6deg;
  }
  82% {
    --angle: 385.2deg;
  }
  83% {
    --angle: 388.8deg;
  }
  84% {
    --angle: 392.4deg;
  }
  85% {
    --angle: 396deg;
  }
  86% {
    --angle: 399.6deg;
  }
  87% {
    --angle: 403.2deg;
  }
  88% {
    --angle: 406.8deg;
  }
  89% {
    --angle: 410.4deg;
  }
  90% {
    --angle: 414deg;
  }
  91% {
    --angle: 417.6deg;
  }
  92% {
    --angle: 421.2deg;
  }
  93% {
    --angle: 424.8deg;
  }
  94% {
    --angle: 428.4deg;
  }
  95% {
    --angle: 432deg;
  }
  96% {
    --angle: 435.6deg;
  }
  97% {
    --angle: 439.2deg;
  }
  98% {
    --angle: 442.8deg;
  }
  99% {
    --angle: 446.4deg;
  }
  100% {
    --angle: 450deg;
  }
}

@media (max-width: 768px) {
  .project-wrapper {
    grid-template-columns: repeat(2, 45vw);
  }
  .project-card {
    width: 40vw;
  }
  .project-card .name {
    font-size: 24px;
  }
  .project-card .description {
    font-size: 18px;
  }
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  background-image: linear-gradient(to right, rgb(255, 190, 116), rgb(255, 241, 114));
  border: 1px solid #000;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
}
header .social {
  border: 2px solid #fff;
  border-radius: 7px;
  height: 50px;
  aspect-ratio: 1/1;
  background-color: #1f1f1f;
}
header .social .logos {
  width: auto;
  max-width: 35px;
}
header .social:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.05);
}
header .self-text {
  text-align: center;
  font-family: GOST type A, sans-serif;
  font-weight: bolder;
  font-size: 40px;
  min-width: 75vw;
}
header .bmc-btn {
  height: 50px;
  min-width: auto;
  padding: 0px 7px;
  border-radius: 7px;
  border: 2px solid #fff;
  font-family: GOST type A, sans-serif !important;
  font-weight: bolder;
  font-size: 20px;
}
header .bmc-btn:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  header .self-text {
    min-width: 60vw;
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  header .self-text {
    min-width: 35vw;
    font-size: 30px;
  }
}
footer {
  bottom: auto;
  display: flex;
  background-image: linear-gradient(to left, rgb(255, 190, 116), rgb(255, 241, 114));
  height: 35px;
  border: 1px solid #000;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  align-items: center;
  justify-content: center;
}
footer copyright {
  font-family: Gost type A, sans-serif;
  font-style: italic;
  font-size: 24px;
}

html {
  background-color: rgb(255, 255, 255);
}

.wrapper {
  min-height: calc(100vh - 35px);
}

main {
  padding: 15px;
}/*# sourceMappingURL=styles.css.map */